html {
    background-color: #282a36;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.container {
    margin: 2em 4em;
}

body {
    padding: 20px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', Verdana, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #b97ec4;
}

a:hover {
    color: #8bb156;
}

h2 {
    border-bottom: 1px solid #21232d;
    line-height: 1.7em;
}

h6 {
    color: #a4a296;
}

hr {
    border: 1px solid #21232d;
}

pre > code {
    font-size: .9em;
    font-family: Consolas, Inconsolata, Courier, monospace;
}

blockquote {
    border-left: 4px solid #121319;
    padding: 0 15px;
    font-style: italic;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    margin: 0;
    border: 0.2em solid #4b4e65;
    border-radius: 0.4em;
    background-color: #333442;
}

table tr th,
table tr td {
    padding: 1em;
+
}

table tr th {
    background-color: #4b4e65;
}

table tr:nth-child(2n) {
    background-color: #494d63;
}

/*
    Paraíso (dark)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
.hljs-comment,
.hljs-quote {
    color: #8d8687;
}

/* Paraíso Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-link,
.hljs-meta {
    color: #ef6155;
}

/* Paraíso Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion {
    color: #f99b15;
}

/* Paraíso Yellow */
.hljs-title,
.hljs-section,
.hljs-attribute {
    color: #fec418;
}

/* Paraíso Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #48b685;
}

/* Paraíso Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #815ba4;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #1e2029;
    color: #a39e9b;
    padding: 0.5em;
    border-radius: 0.2em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}